DATABASE_URL=postgres://postgres:postgres@localhost:5432/ordersdb
DJANGO_SECRET_KEY=change-me
DEBUG=true
ALLOWED_HOSTS=*

# Celery (Redis broker)
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
REDIS_CACHE_URL=redis://localhost:6379/1
PRODUCT_DETAIL_CACHE_TTL=300