.env

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytype/
.coverage
coverage.xml
htmlcov/
dist/
build/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

django-guide.md